:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --additional-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  cursor: pointer;
}

/* Header */
.header {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.auth-list {
  display: flex;
  margin-left: auto;
}

.auth-item:not(:last-child) {
  margin-right: 50px;
}

.auth-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-link:hover,
.auth-link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 280px;

  background: #2f303a;
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--additional-color);
}

.hero-btn {
  padding: 10px 32px;
  min-width: 216px;

  color: var(--additional-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--accent-color);

  drop-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  border: 0;
}

/* Features */
.features-list {
  display: flex;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-item-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color);
}

/* Works */
.works {
  padding-top: 0;
}

.works-list {
  display: flex;
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

.works-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Team */
.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-item-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-item-text {
  color: var(--secondary-color);
  line-height: 1.19;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: #2f303a;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  color: var(--additional-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link-maps {
  color: var(--additional-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

/* Projects */
.border {
  border-top: 1px solid #ececec;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.projects-btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background: var(--secondary-bg-color);
  border-radius: 4px;
  border: 0;
}

.projects-btn:hover,
.projects-btn:focus {
  color: var(--additional-color);
  background: var(--accent-color);
}

.projects-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  background: var(--additional-color);

  /* outline: 1px solid red; */
}

.projects-item-photo {
  /* width: 100%; */
}

.projects-description {
  padding: 20px 24px;

  /* border: 1px solid #eeeeee; */
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-item-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-item-text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.88;
}

.current {
  color: var(--accent-color);
}
